<h1 class="text-center mt-4">新規カテゴリーを追加</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>

    <div div class="row text-center">
      <%= link_to '[ Cancel and return to categories listing ]',categories_path, class: "text-info text-decoration-none" %>
    </div>
  </div>
</div>
